<html><head>
    <link rel="icon" href="images\favicon\favicon-cardok.png">
    <meta name="keywords" content="Daftar">
    <meta name="description" content="Layanan Untuk Mencari Dokter Di Sekitar Anda">
    <title>Daftar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="custome/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-md-2 text-right">
            <img src="images\banner.png">
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <div class="col-md-9 text-right">
            <div class="btn-group btn-group-lg">
              <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown"> Nama Pasien Login <span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">Profil</a>
                </li>
                <li>
                  <a href="#">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-center text-warning">
              <b>Aktivasi Akun Berhasil</b>
            </h1>
          </div>
          <div class="col-md-12 text-center">
            <h4 class="text-center">
              <b>Sekarang Akun Anda telah diaktivasi. Selanjutnya Anda sudah dapat mencari
                dokter yang sesuai dengan kebutuhan dan melakukan booking perjanjian ONLINE**
                langsung dari situs kami. Selain itu, Anda juga dapat menyimpan profil
                dokter, nomor telepon, alamat, dan Anda dapat mengaksesnya dari mana saja
                (tablet, ponsel, dan komputer). Anda juga dapat menyimpan jadwal janji
                temu Anda dan melakukan sinkronisasi ke google calendar, sehingga janji
                temu Anda tidak terlewatkan.</b>
            </h4>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>
              <b>Quote</b>
            </h1>
          </div>
          <div class="col-md-12 text-left">
            <h3 class="text-center text-muted">Ada banyak orang di dunia ini yang menghabiskan begitu banyak waktu mengawasi
              kesehatan mereka, namun tidak memiliki waktu untuk menikmatinya. (Josh
              Billings).</h3>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>About Me</h1>
            <p>Cari Dok,
              <br>Sarana untuk membangun kemudahaan dan paham akan kesehatan
              <br>diri sendiri maupun orang lain</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="https://github.com/rezatkc/projectwebsite"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  

</body></html>