{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="peta">
			</div>
		</div>

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<input type="text" name="cari" class="form-control no-rounded no-shadow input-lg no-outline" placeholder="Cari Dokter" />
					<input type="submit" name="submit" class="btn btn-primary center-block pull-top-10 pull-down-10 no-rounded" value="Cari Dokter" />
				</div>
			</div>
		</div>

		<div class="col-md-12" style="background: #333; padding: 10px 50px">
			<div class="row">
				<div class="col-md-12 pull-top-half pull-down-half post">
					<div class="row">
						<div class="col-sm-2">
							foto
						</div>
						<div class="col-sm-10">
							deskripsi
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}