<html><head>
    <link rel="icon" href="images\favicon\favicon-cardok.png">
    <meta name="keywords" content="Cari Dokter">
    <meta name="description" content="Layanan Untuk Mencari Dokter Di Sekitar Anda">
    <title>Car Dokter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="custome/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="cover">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="col-md-2 text-right">
          <img src="images\banner.png">
        </div>
        <div class="col-md-10 text-right">
          <div class="btn-group btn-group-lg">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">Daftar</a>
              </li>
              <li>
                <a href="#">Login</a>
              </li>
            </ul>
          </div>
          <div class="btn-group btn-group-lg">
            <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown"> Pasien <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">Daftar</a>
              </li>
              <li>
                <a href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cover-image" style="background-image : url('http://i1301.photobucket.com/albums/ag108/rezabulan/home_zpsiasw8zny.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            <h1 class="text-danger">Cari Dokter</h1>
            <p>Layanan Pasien Untuk Mencari Dokter di Sekitar Kamu</p>
            <br>
            <br>
            <a class="btn btn-lg btn-warning">Cari Dok<i class="fa fa-star fa-fw"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-center text-warning">
              <b>Cara yang benar menemukan dokter anda</b>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-left">
            <h3 class="text-left">Sekarang Anda dapat menemukan dokter Anda yang tepat berdasarkan pengetahuan,
              bukan kebetulan.</h3>
            <br>- Cari dan temukan dokter berdasarkan spesialisasi dan lokasi terdekat
            di sekitar Anda.
            <br>- Pelajari latar belakang pendidikan dokter, jadwal praktek dan tandai
            di daftar dokter Anda sebagai yang Anda sukai.
            <br>- Buat temu janji (Booking) secara
            <b>ONLINE</b>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-6 text-center">
            <img src="images\bhome.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>
              <b>Quote</b>
            </h1>
          </div>
          <div class="col-md-12 text-left">
            <h3 class="text-center text-muted">Ada banyak orang di dunia ini yang menghabiskan begitu banyak waktu mengawasi
              kesehatan mereka, namun tidak memiliki waktu untuk menikmatinya. (Josh
              Billings).</h3>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>About Me</h1>
            <p>Cari Dok,
              <br>Sarana untuk membangun kemudahaan dan paham akan kesehatan
              <br>diri sendiri maupun orang lain</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="https://github.com/rezatkc/projectwebsite"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  

</body></html>