{% extends "base.html" %}

{% block content %}

{% if(login) %}
  {% include "navbar_login.html" %}
{% else %}
  {% include "navbar.html" %}
{% endif %}

<div class="cover">
      <div style="margin: 20px 0;"></div>
      <div class="cover-image" style="background-image : url('http://i1301.photobucket.com/albums/ag108/rezabulan/home_zpsiasw8zny.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h1 class="text-danger">Cari Dokter</h1>
            <p>Layanan Pasien Untuk Mencari Dokter di Sekitar Kamu</p>
            <a class="btn btn-primary btn-lg no-rounded pull-down-20" href="/cari"><i class="fa fa-search"></i> Cari dokter </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-center text-warning">
              <b>Cara yang benar menemukan dokter anda</b>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-left">
            <h3 class="text-left">Sekarang Anda dapat menemukan dokter Anda yang tepat berdasarkan pengetahuan,
              bukan kebetulan.</h3>
            <br>- Cari dan temukan dokter berdasarkan spesialisasi dan lokasi terdekat
            di sekitar Anda.
            <br>- Pelajari latar belakang pendidikan dokter, jadwal praktek dan tandai
            di daftar dokter Anda sebagai yang Anda sukai.
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-6 text-center">
            <img src="images\bhome.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>
              <b>Quote</b>
            </h1>
          </div>
          <div class="col-md-12 text-left">
            <h3 class="text-center text-muted">Ada banyak orang di dunia ini yang menghabiskan begitu banyak waktu mengawasi
              kesehatan mereka, namun tidak memiliki waktu untuk menikmatinya. (Josh
              Billings).</h3>
          </div>
        </div>
      </div>
    </div>
{% endblock %}