{% extends "base.html" %}

{% block content %}

{% include "navbar_login.html" %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="padding-left: 0; padding-right: 0">
			<div style="border: 1px solid; height: 400px"></div>
		</div>

		<div class="col-md-12" style="background: #333; padding: 10px 50px">
			<div class="row">
				{% for d in data %}
				<div class="col-md-8 col-md-offset-2 pull-top-half pull-down-half post show-dokter">
					<div class="row">
						<div class="col-sm-10 pull-down-half">
							<div class="col-sm-4">
								Nama Dokter
							</div>
							<div class="col-sm-8">
								{{ d.nama }}
							</div>
						</div>
						<div class="col-sm-10 pull-down-half">
							<div class="col-sm-4">
								Alamat Praktek
							</div>
							<div class="col-sm-8">
								{{ d.alamat }}
							</div>
						</div>
						<div class="col-sm-10 pull-down-half">
							<div class="col-sm-4">
								Email
							</div>
							<div class="col-sm-8">
								{{ d.email }}
							</div>
						</div>
						<div class="col-sm-10 pull-down-half">
							<div class="col-sm-4">
								Layanan
							</div>
							<div class="col-sm-8">
								{{ d.layanan }}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
{% endblock %}