<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="..\public\css\modify.css" rel="stylesheet" type="text/css">
    </head><body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <img src="C:\xampp\htdocs\projectwebsite-master\public\images\banner.png">
                </div>
                <div class="col-md-9 text-right ">
                    <div class="btn-group btn-group-lg">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Selamat Datang <span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Halaman Ku</a>
                            </li>
                            <li>
                                <a href="#">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="">
                    <img src="..\public\images\p3.png">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left text-primary">
                        <b>3 Foto &amp; Verifikasi</b>
                    </h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>
                        <b>Foto Profil</b>
                    </h3>
                    <img src="..\..\..\..\ss\avatarkosong.png">
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                    </div>
                </div>
                <div class="col-md-9 text-justify">
                    <h3>
                        <b>Data Verifikasi</b>
                    </h3>
                    <p>Berikut ini merupakan data yang kami butuhkan untuk melakukan verifikasi
                        terhadap data Anda. Setelah Anda melengkapi data-data ini, kami akan segera
                        melakukan verifikasi dan apabila disetujui, maka profil Anda akan kami
                        tampilkan. Proses ini diperlukan untuk melindungi identifikasi Anda sebagai
                        dokter dan memastikan profil Anda digunakan oleh orang yang berwenang</p>
                    <div class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label class="control-label">No. Surat Tanda Registrasi</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" placeholder="016768">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label class="control-label">Berkas Identifikasi</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <input type="file" id="exampleInputFile">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>About Me</h1>
                        <p>Cari Dok,
                            <br>Sarana untuk membangun kemudahaan dan paham akan kesehatan
                            <br>diri sendiri maupun orang lain</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="https://github.com/rezatkc/projectwebsite"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    

</body></html>