{% extends "base.html" %}

{% block content %}

	{% include "navbar.html" %}
	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center" style="margin-bottom: 20px; margin-top: -20px">
            <h1 class="text-center text-warning">
              <b>Daftar Langsung dengan Lokal Dok</b>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-left">
            <h3 class="text-left">Sekarang Anda dapat menemukan dokter Anda yang tepat berdasarkan pengetahuan,
              bukan kebetulan.</h3>
            <br>- Cari dan temukan dokter berdasarkan spesialisasi dan lokasi terdekat
            di sekitar Anda.
            <br>- Pelajari latar belakang pendidikan dokter, jadwal praktek dan tandai
            di daftar dokter Anda sebagai yang Anda sukai.
            <br>- Buat temu janji (Booking) secara
            <b>ONLINE</b>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-6 text-center">
            <form class="form-horizontal" role="form" method="POST" action="{{ url }}">
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Nama</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Nama" name="nama">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Email</label>
                </div>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Password</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Re-Password</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
			  <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Alamat</label>
                </div>
                <div class="col-sm-10">
                  <textarea name="alamat" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2 text-left">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">Dengan mendaftar berarti Anda setuju dengan Syarat &amp; Ketentuan Pengguna
                      dari CariDok</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Daftar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>
              <b>Quote</b>
            </h1>
          </div>
          <div class="col-md-12 text-left">
            <h3 class="text-center text-muted">Ada banyak orang di dunia ini yang menghabiskan begitu banyak waktu mengawasi
              kesehatan mereka, namun tidak memiliki waktu untuk menikmatinya. (Josh
              Billings).</h3>
          </div>
        </div>
      </div>
    </div>
	
{% endblock %}