{% extends "base.html" %}

{% block title %}
Daftar sebagai tamu | Holimaps.id
{% endblock %}

{% block content %}
	<form action="/signup" method="POST" enctype="application/x-www-form-urlencoded">
	<table id="signup">
		<tr>
			<td>Nama</td>
			<td>: <input type="text" name="nama"></td>
		</tr>
		<tr>
			<td>Username</td>
			<td>: <input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td>: <input type="email" name="email"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td>: <input type="password" name="password"></td>
		</tr>
		<tr>
			<td>Gender</td>
			<td>: <input type="radio" name="gender" value="male">Male <input type="radio" name="gender" value="female">Female</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="submit" value="Sign up">
			</td>
		</tr>
	</table>
</form>
<a href="/">Kembali</a>
{% endblock %}