<div id="hacker">
    <input type="text" class="search">

    <ul class="list">
        <li>
            <p class="nama">Andre</p>
            <p class="kota">Medan</p>
        </li>
        <li>
            <p class="nama">Messi</p>
            <p class="kota">Argentina</p>
        </li>
    </ul>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
<script>
    var options = {
        valueNames: ['nama', 'kota']
    };

    var hacker = new List('hacker', options);
</script>
